body{
	margin:0;
	padding:0;
}

body *{
	color: white;
	font-family: sans-serif;
	font-size: 15px;
}

/*.container .section{
	position: sticky;
	top: 0;
	width: 100%;
	height: 100vh;
}*/

.personal-info{
	width: 100%;
	height: 110vh;
	background-image: url(../img/saturn.jpg);
	background-size: 100% 100%;
}

.educational-att{
	width: 100%;
	height: 110vh;
	background-image: url(../img/telescope.jpg);
	background-size: 100% 100%;
}

.portfolio-preview{
	width: 100%;
	height: 110vh;
	background-image: url(../img/galaxy1.jpg);
	background-size: 100% 100%;
}

.skills{
	width: 100%;
	height: 110vh;
	background-image: url(../img/dark-galaxy.jpg);
	background-size: 100% 100%;
}

.content{
	width: 80%;
	height: 85vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	left: 50%;
	top: 7%;
	transform: translate(-50%, 5%);
	border-radius: 10px;
}

/*personal Info*/

.personal-info .content img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	position: relative;
	left: 75%;
	transform: translate(-75%, -40px);
	transition: 1.5s;
}

.personal-info .content:hover img{
	transform: translate(-75%, -60px);
}

.personal-info .content h3{
	text-transform: uppercase;
	font-size: 26px;
	position: absolute;
	left: 20%;
	transform: translate(-20%, -150px);
}

.upper-right-cont p{
	padding: 0;
	margin: 3px;
}

.upper-right-cont{
	position: absolute;
	left: 26%;
	top: 12%;
	transform: translate(-26%, 0);
	text-align: center;
}

.personal-info .content .left-cont{
	width: 40%;
	height: 370px;
	/*background-color: blue;*/
	position: absolute;
	left: 5%;
	top: 28%;
}

.personal-info .content .right-cont{
	width: 45%;
	height: 370px;
	/*background-color: red;*/
	position: absolute;
	right: 5%;
	top: 28%;
}

.personal-info .content .left-cont p{
	text-indent: 6px;
}

.personal-info .content .left-cont p:nth-child(1), .personal-info .content .right-cont p:nth-child(1){
	text-transform: uppercase;
	font-size: 22px;
	text-indent: 0px;
}

/*Educational Background*/

.educational-att .content h3{
	text-transform: uppercase;
	font-size: 26px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 10px);
}

.cont-32{
	width: 32%;
	height: 80%;
	display: inline-block;
	text-align: center;
	border-radius: 10px;	
}

/*.cont-32:hover{
	transform: scale(1.2);
}
*/
.cont-32 h4{
	padding: 20px 0 20px 0;
	text-transform: uppercase;
	font-size: 22px;
}

.elementary{
	position: absolute;
	left: 19px;
	transform: translate(-9px, 75px);
}

.elementary:hover{
	transform: translate(-9px, 75px) scale(1.05);
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0.5);
}

.highschool{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 75px);
}

.highschool:hover{
	transform: translate(-50%, 75px) scale(1.05);
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0.5);
}

.college{
	position: absolute;
	right: 19px;
	transform: translate(9px, 75px);
}

.college:hover{
	transform: translate(9px, 75px) scale(1.05);
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0.5);
}

/*Skills*/

.skills .content h3{
	text-transform: uppercase;
	font-size: 26px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 100px);
	transition: 2s;
}

.skills .content:hover h3{
	transform: translate(-50%, 0px);
}

.skills  .content .chart{
	width: 80%;
	height: 400px;
	background-color: rgba(20, 20, 255, 0.2);
	border-left: 1px white solid;
	border-bottom: 1px white solid;
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translate(-50%, 20%) rotate(-30deg) skew(25deg) scale(0.5);
	transition: 1s;
}

.skills  .content:hover .chart{
	transform: translate(-50%, 0) rotate(0deg) skew(0deg) scale(1);
}

/*BAR CHART*/

.skills  .content .chart .bar{
	width: 6%;
	background-color: rgba(192,  155, 59, 0.5);
	display: inline-block;
	text-align: center;
	height: 0;
	transition: 2.5s;
	transition-delay: 5s;
}

.skills  .content .chart .bar:nth-child(1){
	position: absolute;
	bottom: 0;
	left: 10%;
}

.skills  .content .chart .bar:nth-child(2){
	position: absolute;
	bottom: 0;
	left: 25%;
}

.skills  .content .chart .bar:nth-child(3){
	position: absolute;
	bottom: 0;
	left: 40%;
}

.skills  .content .chart .bar:nth-child(4){
	position: absolute;
	bottom: 0;
	left: 55%;
}

.skills  .content .chart .bar:nth-child(5){
	position: absolute;
	bottom: 0;
	left: 70%;
}

.skills  .content .chart .bar:nth-child(6){
	position: absolute;
	bottom: 0;
	left: 85%;
}

.skills  .content:hover .chart .bar:nth-child(1){height: 90%}

.skills  .content:hover .chart .bar:nth-child(2){height: 70%}

.skills  .content:hover .chart .bar:nth-child(3){height: 89%}

.skills  .content:hover .chart .bar:nth-child(4){height: 87%}

.skills  .content:hover .chart .bar:nth-child(5){height: 60%}

.skills  .content:hover .chart .bar:nth-child(6){height: 78%}

/*Text transitions*/

.skills .content h4{
	position: absolute;
}

.skills .content .J{
	left: 2%;
	top: 15%;
	transition: 1s;
	transition-delay: 1s;
}

.skills .content .C{
	left: 2%;
	top: 25%;
	transition: 1s;
	transition-delay: 2s;
}

.skills .content .H{
	left: 2%;
	top: 35%;
	transition: 1s;
	transition-delay: 2.5s;
}

.skills .content .S{
 	right: 2%;
 	top: 15%;
 	transition: 1s;
	transition-delay: 3s;
}

.skills .content .T{
	right: 2%;
	top: 25%;
	transition: 1s;
	transition-delay: 3.5s;
}

.skills .content .M{
	right: 2%;
	top: 35%;
	transition: 1s;
	transition-delay: 4s;
}

.skills  .content:hover .J{transform: translate(180px, 400px) rotate(360deg)}

.skills  .content:hover .C{transform: translate(315px, 345px) rotate(360deg)}

.skills  .content:hover .H{transform: translate(440px, 290px) rotate(360deg)}

.skills  .content:hover .S{transform: translate(-435px, 400px) rotate(-360deg)}

.skills  .content:hover .T{transform: translate(-280px, 345px) rotate(360deg)}

.skills  .content:hover .M{transform: translate(-160px, 290px) rotate(360deg)}

/*porfolio preview*/

.portfolio-preview .content h3{
	text-transform: uppercase;
	font-size: 26px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 10px);
}

.portfolio-preview .content .port-desc{
	width: 30%;
	height: 400px;
	position: absolute;
	left: 1%;
	top: 80px;
}

.portfolio-preview .content .port-desc * {
	text-indent: 20px;
}

.portfolio-preview .content .slideshow{
	width: 65%;
	height: 400px;
	position: absolute;
	right: 2%;
	top: 80px;
	/*background-color: red;*/
}

.portfolio-preview .content .slideshow .slides{
	position: absolute;
	width: 100%;
	height: 100%;
}

.mySlides {
	display: none;
	width: 100%;
	height: 100%;
}
.portfolio-preview .content .slideshow img {
	width: 100%;
	height: 100%;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
